<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fab fa-app-store-ios react-color fa-2x"></i>
        <mat-card-title>IOS Swift</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Building and designing IOS applicaitons with full development process and REST API as a backend. Experienced with Apple Enterprise Depolyment.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fab fa-android react-color fa-2x"></i>
        <mat-card-title>Andorid Kotlin</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Crafting and programming Android applicaitons with Kotlin and Java along with using Cloud REST API.Transforming from ideas to demoable products.</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-desktop react-color fa-2x"></i>
        <mat-card-title>Web JavaScript Framework</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Implementing front end with variety of differnet libaries such as VUE JS and REACT along with Angular as well as Cloud backend as rest API such as AWS.</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12 col-sm-6 col-md-8">
    <h3>About me</h3>
    <p>8 years+ experienced solutions/result - driven IOS / Andorid mobile app programmer and web developer who has a track record of success creating apps that are both well modular maintained and object-oriented . Capable of working with minimal supervision and providing quality code on every project.</p>
    <h3>Work</h3>
    <p>Hand-on experienced full stack developer including Android, IOS and Web. Building rest Api by Node js , django , and AWS cloud services as well as using third party rest API as well. Well Capablity of developing cloud Api on AWS and maintain EC2 cloud servers with Admin role.</p>
    <h3>Personality</h3>
    <p>Skilled with incorporating into projects both by individual and with a team as well. Strong eye for detail and never quit on something until it is absolutely perfect with a making job done attitudes, still with in an efficient pace. Great passion about the mobile/web marketing and have trending knowledges</p>
  </div>
  <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>SWIFT</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>KOTLIN/JAVA</strong>
      <span class="float-right">90%</span>
      <mat-progress-bar value="90" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>ANGULAR</strong>
      <span class="float-right">85%</span>
      <mat-progress-bar value="85" ></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>REACT</strong>
      <span class="float-right">85%</span>
      <mat-progress-bar value="85" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>VUE</strong>
      <span class="float-right">85%</span>
      <mat-progress-bar value="85" ></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>HTML5 & CSS3</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>BOOTSTRAP</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100" ></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>UX Design</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"  color="accent"></mat-progress-bar>
    </div>
  </div>
</div>


<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-app-store-ios fa-10x  ios-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-app-store-ios ios-color d-md-none mr-2"></i>IOS Swift Development</h2>
    <p>Swift is a high-level programming language developed by Apple and made available in 2014. It is designed for writing apps for Apple platforms, including macOS, iOS, tvOS, and watchOS.</p>
    <p>Swift is offical high-level language and bound with Xcode to build mobie app on Apple store.   </p>
    <button [routerLink]="['/articles']" [queryParams]="{filter:'Swift'}" mat-stroked-button>View More</button>
  </div>
</div>


<div class="row mt-5">
  <div class="col-12 col-md-9 text-right">
    <h2>Android Development <i class="fab fa-android android-color d-md-none"></i> </h2>
    <p>Kotlin is an open-source, statically-typed programming language that supports both object-oriented and functional programming. Kotlin provides similar syntax and concepts from other languages, including C#, Java, and Scala, among many others.</p>
    <p>Kotlin has been assigned as a offical language for andorid mobile app development after Java. </p>
    <p>With Android studio, certain Android APIs are Kotlin-specific, but most are written in Java and can be called from either Java or Kotlin. </p>
    <button [routerLink]="['/articles']" [queryParams]="{filter:'Kotlin'}" mat-stroked-button>View More</button>
  </div>
  <div class="col-3 text-center">
    <i class="fab fa-android fa-10x android-color d-none d-md-block"></i>
  </div>
</div>



<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Angular Development</h2>
    <p>Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.</p>
    <p>It's a Components, Modules, Services , dependency injection, Routing along with data binding framework.    </p>
    <button [routerLink]="['/articles']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View More</button>
  </div>
</div>
<div class="row mt-5">
  <div class="col-12 col-md-9 text-right">
    <h2>React Development <i class="fab fa-react react-color d-md-none"></i> </h2>
    <p>React is a declarative, efficient, and flexible JavaScript library for building user interfaces. It lets you compose complex UIs from small and isolated pieces of code called “components”.</p>
    <p>Build encapsulated components that manage their own state, then compose them to make complex UIs.</p>
    <p>A Stateful Component-- When a component’s state data changes, the rendered markup will be updated</p>
    <button [routerLink]="['/articles']" [queryParams]="{filter:'React'}" mat-stroked-button>View More</button>
  </div>
  <div class="col-3 text-center">
    <i class="fab fa-react fa-10x react-color d-none d-md-block"></i>
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Development</h2>
    <p>VueJS is an open source progressive JavaScript framework used to develop interactive web interfaces. It is one of the famous frameworks used to simplify web development. </p>
    <p>VueJS focusses on the view layer. It can be easily integrated into big projects for front-end development without any issues.</p>
    <button  [routerLink]="['/articles']" [queryParams]="{filter:'Vue'}" mat-stroked-button>View More</button>
  </div>
</div>

<div class="portfolio-preview">
  <div class="row no-gutters">
    <div class="col-12">
      <h2>Recent Articles</h2>
      <p>Please look into below articles inlcuding IOS, Android, Angualr , React, and Vue if you are instersted. </p>
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngFor="let item of recentProjects;index as i"
         [ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-6 col-md-3': i >= 3 }">
      <img class="img-fluid" [src]="item.preview + '?text=' + item.name" [alt]="item.name">
    </div>

    <div class="col-12 mt-3">
      <button [routerLink]="['/articles']" mat-stroked-button>View More</button>
    </div>
  </div>
</div>
